body {
	margin: 0;
	padding: 0;
    background-color: black;
	font-family: Georgia, serif;
	font-size: 16px;
	letter-spacing: 2px;
	word-spacing: 2px;
}
body::-webkit-scrollbar {
	width: 1rem;
  }
  
  body::-webkit-scrollbar-track {
	background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
	background: #6d9bb3;
  }



.container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.centered-div {
	background-image: url('pics/portraitbg.png'); 
	background-repeat: no-repeat;
	background-size: cover;
	height: 2222px;
	width: 85%;
	color: white;
	padding: 20px;
	border-radius: 20px;
	border-left: 5px solid white;
	border-right: 5px solid white;
}

.centered-div h1 {
	font-size: 100px;
	margin:0%;
}

.centered-div h3 {
	background-color: #335a6c;
	width: max-content;
	margin:0%;
}

#borderDemo {
	display: flex; 
	align-items: center;
	border: 5px solid #549FA4;
	margin: 76px;
	padding: 20px;
	background: rgba(123,174,203,0.5);
	border-radius: 20px 32px 38px 19px;
	box-shadow: 0px 10px 13px -7px #7baecb, 5px 5px 15px 5px rgb(123, 174, 203);
	box-shadow: 0px 10px 13px -7px #7baecb, 5px 5px 15px 5px rgb(123, 174, 203);
}	



:root {
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
	--transition-speed: 600ms;
  }

  .navbar {
	position: fixed;
	background-color: var(--bg-primary);
	transition: width 600ms ease;
	overflow: hidden;
  }
  
  .navbar-nav {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
  }
  
  .nav-item {
	width: 100%;
  }
  
  .nav-item:last-child {
	margin-top: auto;
  }
  
  .nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);
  }
  
  .nav-link:hover {
	filter: grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--text-secondary);
  }
  
  .link-text {
	display: none;
	margin-left: 1rem;
  }
  
  .nav-link svg {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
  }
  
  .fa-primary {
	color: #7be9f0;
  }
  
  .fa-secondary {
	color: #6d9bb3;
  }
  
  .fa-primary,
  .fa-secondary {
	transition: var(--transition-speed);
  }
  
  .logo {
	font-weight: bold;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--text-secondary);
	background: var(--bg-secondary);
	font-size: 1.5rem;
	letter-spacing: 0.3ch;
	width: 100%;
  }
  
  .logo svg {
	transform: rotate(0deg);
	transition: var(--transition-speed);
  }
  
  .logo-text
  {
	display: inline;
	position: absolute;
	left: -999px;
	transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
	transform: rotate(-180deg);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
	  }
	  
	.navbar {
	  bottom: 0;
	  width: 100vw;
	  height: 5rem;
	}
  
	.logo {
	  display: none;
	}
  
	.navbar-nav {
	  flex-direction: row;
	}
  
	.nav-link {
	  justify-content: center;
	}
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
	.navbar {
	  top: 0;
	  width: 5rem;
	  height: 100vh;
	}
  
	.navbar:hover {
	  width: 16rem;
	}
  
	.navbar:hover .link-text {
	  display: inline;
	}


  
	.navbar:hover .logo svg
	{
	  margin-left: 11rem;
	}
  
	.navbar:hover .logo-text
	{
	  left: 0px;
	}
  }


  
  table {
	border-collapse: collapse;
	width: 100%;
  }
  
  td {
	padding: 10px; 
	text-align: center; 
  }
  
.image-cell {
	width: 50%;
	border-right: 4px solid #8fb2c3;
	padding: 0.5rem;
  }
  
  .image-cell img:hover {
	background: #7be9f0;
	border: 4px solid #ff6600;
  }
  td.image-cell img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	border: 5px solid transparent;
	transition: border 0.3s;
  }
  

.text-cell {
	text-align: justify;
}
.text-cell a {
	color: #549FA4;
}
.text-cell a:hover {
	color: #ff0000;
}
.text-cell  h4 {
	text-align: center;
}